@import url('https://fonts.googleapis.com/css2?family=Metrophobic&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Metrophobic", sans-serif;
}
body {
    position: relative;
    
}
header {
    height: 100vh;
}
.fixed-bar {
display: flex;
position: sticky;
align-items: center;
justify-content: center;
color: #fff;
background-color: #2b4162;
background-image: radial-gradient(54.97% 252.54% at 7.36% -134.72%,rgba(108,148,255,.92) 0,rgba(0,0,0,.92) 100%);

}
.banner {
    padding: 20px;
}

a:link {
    color: #fff;
    text-decoration: none;
}
a:visited {
    color: #fff;
    text-decoration: none;
}
.navbar-one {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    height: 50px;
    padding: 10px;
  
    
}
.navbar-one nav ul {
    display: flex;
    list-style: none;    
    text-decoration: none;
    justify-items: center;
    justify-content: space-between;
    gap: 30px;
    font-weight: 900;
   
    
}
.tesla-logo {

height: 24px;
width: 124px;
}

.video {
    position:absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
}
/* }
.navbar-one ul {
display: flex;
justify-content: space-around;
padding: 0px;
margin: 0 2px;
} */
.more {
    align-items: center;
   
}
.content {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom:70px ;
    margin-top: 25px;
    color: #fff;
    font-size: 20px;
}

.specifications {
display: flex;
justify-items:center;
align-items: center ;
align-content: center;
justify-content: center;
gap: 30px;
margin-top: 280px;
color: white;
}
.btns {
    display: flex;
    justify-items:center;
    align-items: center ;
    align-content: center;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
    font-weight: 600;
    
}
.btn-light {
    /* border: #fff;
    width: 235px;
    height: 40px; */
    cursor: pointer;
    display: inline-block;
    width: 235px;
    height: 40px;
    background: #333;
   
    border: transparent;
    border-radius: 4px ;
    padding: 7px 60px;
    color: black;
    
    
   
}
.btn-transp {
    /* border: 3px solid white;
    border-radius: 4px;
    width: 235px;
    height: 40px;
    align-items: center;
    justify-items: center;
    align-content: center; */
    cursor: pointer;
    display: inline-block;
    width: 235px;
    height: 40px;
    color: #fff;
    background-color: transparent;
    border: 3px solid white;
    border-radius: 4px ;
    padding: 5px 70px;
}

.page-two {
    width: 1536px;
    height: 960px;
    background-image: url(/media/Model-3-Exterior-Desktop-NA.png);
    padding: 70px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
    margin: auto;
    position: relative;
    line-height: 2.5;
    color: #fff;
}
.para {
    width: 700px;
    margin: auto;
    font-weight: 500;
}